body{
    background-color: darkgray;
}

.galeria_img{
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    gap: 50px;
}

img{
    width: 350px;
    height: 350px;
    border: solid black 10px;
    box-shadow: 10px 15px 25px ;
}